@if (this.isLoading) {
<p-progressBar
  mode="indeterminate"
  [style]="{
    height: '6px',
    width: '100%',
    position: 'fixed',
    top: '0',
    borderRadius: '0'
  }"
/>
}
<div class="flex items-center justify-center w-full h-screen bg-[#163851]">
  <div
    class="flex flex-col items-center justify-center bg-white px-8 py-8 rounded-md space-y-8 w-[375px]"
  >
    <div class="flex space-x-3 items-center flex-col">
      <img src="/favicon.ico" alt="" class="w-[75px]" />
    </div>
    <form
      [formGroup]="loginForm"
      class="space-y-5 w-full flex flex-col items-center"
      (ngSubmit)="onLogin()"
    >
      <div class="w-full">
        <div>Email:</div>
        <input
          class="border-2 border-black rounded-md px-2 py-1 w-full"
          formControlName="email"
        />
      </div>
      <div class="w-full">
        <div>Password:</div>
        <div class="flex border-2 border-black rounded-md px-2 py-2 space-x-2">
          <input
            [type]="hidePassword ? 'password' : 'text'"
            class="rounded-md outline-none w-full"
            formControlName="password"
          />
          <button type="button" (click)="togglePasswordVisibility()">
            <i
              class="fas"
              [ngClass]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"
            ></i>
          </button>
        </div>
      </div>
      <button
        class="px-8 py-3 rounded-md bg-[#1CA3EC] text-white"
        type="submit"
      >
        @if (this.isLoading) {
        <p-progressSpinner
          id="loginButton"
          styleClass="w-5 h-5"
          ariaLabel="loading"
        />
        } @else { Login }
      </button>
    </form>
    <div class="flex space-x-2 items-center text-sm">
      <div>Forgot Password?</div>
      <a routerLink="/forgot-password" class="text-[#1CA3EC] underline"
        >Click Here!</a
      >
    </div>
  </div>
</div>
<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
/>
