<app-badge-dashboard>
  <h1 class="font-bold">Update Data Kategori</h1>
</app-badge-dashboard>
<div class="mt-3 p-4 bg-white rounded-md border">
  <form
    [formGroup]="this.FormCategory"
    class="flex flex-col gap-3"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex flex-col gap-2">
      <label>kategori</label>
      <input
        pInputText
        formControlName="name"
        placeholder="Masukkan Kategori..."
      />
    </div>
    <div class="flex flex-col gap-2">
      <label>Icon</label>
      <input
        pInputText
        formControlName="icon"
        placeholder="fa-solid fa-bars..."
      />
    </div>
    <div class="flex flex-col gap-2">
      <label>Pilih warna</label>
      <div class="flex gap-2">
        <p-colorPicker formControlName="color" />
        {{ this.FormCategory.value.color }}
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <label>Tipe</label>
      <p-dropdown
        [style]="{ width: '100%' }"
        formControlName="typeId"
        [options]="this.type"
        optionValue="id"
        optionLabel="name"
        placeholder="Pilih Tipe"
      />
    </div>
    <p-button type="submit" label="Update Category" />
  </form>
</div>
<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
/>
