<div
  class="flex items-center justify-center rounded-full bg-white p-2 -mb-12 z-10 w-fit"
>
  <a
    routerLink="/home"
    routerLinkActive="main-button"
    class="fas fa-wallet text-[35px] bg-[#163851] p-5 rounded-full text-white"
  ></a>
</div>
<div
  class="flex items-center justify-between bg-[#1CA3EC] px-[70px] py-5 rounded-t-3xl z-0 w-full"
>
  <a
    routerLink="/budget-limit"
    routerLinkActive="secondary-button"
    class="fas fa-book text-[25px] text-white"
  ></a>
  <a
    routerLink="/profile"
    routerLinkActive="secondary-button"
    class="fas fa-user text-[25px] text-white"
  ></a>
</div>
